argcomplete==3.5.1
borb==2.1.25
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==44.0.3
curlify==2.2.1
dunamai==1.25.0
filelock==3.20.0
fonttools==4.60.1
fsspec==2025.10.0
gitdb==4.0.12
GitPython==3.1.45
hf-xet==1.2.0
huggingface-hub==0.36.0
idna==3.11
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
packaging==25.0
pillow==12.0.0
poetry-dynamic-versioning==1.9.1
pycparser==2.23
python-barcode==0.16.1
python-dateutil==2.6.1
pytz==2025.2
PyYAML==6.0.3
qrcode==8.2
requests==2.32.5
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
toml==0.10.2
tomlkit==0.13.3
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
vastai==0.5.0
xdg==6.0.0
